########################
## Extensions
########################
*.class
*.war
*.ear

########################
## Files
########################
build.xml
build/web/WEB-INF/web.xml
build/web/*.jsp
build/web/css/
build/web/images/

########################
## Directories
########################
build/web/META-INF/
build/web/WEB-INF/classes/
nbproject/private/

