########################
## Extensions
########################
*.class
*.war
*.ear

########################
## Files
########################
build.xml
build/web/WEB-INF/web.xml

########################
## Directories
########################
build/web/META-INF/
build/web/WEB-INF/classes/

