/* 
    Document   : style
    Created on : Aug 25, 2013, 3:08:02 PM
    Author     : Tony
    Description:
        Purpose of the stylesheet follows.
*/
/**
* HTML Document styles
*/

root { 
    display: block;
}

html body{
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    height: 100%;
    width: 100%;
    color: #212121;
    font-family: 'Rokkitt', serif;
}

#logo{
    float: right;
}

#nav{
    padding: 0;
    overflow: hidden;
}

#nav .menu{
    width: 42em;
    margin-left: 0;
    font-size: 1.4em;
}

#nav .menu .button{
    border: none;
    width: 5em;
    height: 5em;
    background-color: #ffffff;
    margin: 0;
    float: left;
}

#nav .menu .selected{
    background-color: #000066;
    border-bottom: .5em solid #212121;
    color: #f1f1f1;
}

#nav .menu .button:hover{
    background-color: #f1f1f1;
    color: #212121;
}

#main_container{
    width: 40em;
    background-color: #f1f1f1;
    border-radius: 1em;
    margin: auto;
    font-size: 1.8em;
    margin-top: 10em;
    padding: 2em;
}

#loginform{
    margin: auto;
    /*display: inline-block;*/
}

#loginform .input{
    width: 10em;
    height: 1.5em;
    border-radius: .5em;
    font-size: 1em;
    font-style: italic;
    margin-right: 2em;
}

#loginform .label{
    display: inline-block;
    
}

#loginform .button{
    margin-right: 0;
    height: 1.5em;
    width: 5em;
    background-color: #000066;
    color: #f1f1f1;
    float: right;
}

footer p{
    font-size: 1.4em;
    text-align: center;
}





