/* 
    Document   : style
    Created on : Aug 25, 2013, 3:08:02 PM
    Author     : Tony
    Description:
        Purpose of the stylesheet follows.
*/
/**
* HTML Document styles
*/

root { 
    display: block;
}

html body{
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    height: 100%;
    width: 100%;
    color: #212121;
    font-family: 'Rokkitt', serif;
}

#logo{
    float: right;
}

#nav{
    padding: 0;
    overflow: hidden;
}

#nav .menu{
    width: 42em;
    margin-left: 0;
    font-size: 1.4em;
}

#nav .menu .button{
    border: none;
    width: 5em;
    height: 5em;
    background-color: #ffffff;
    margin: 0;
    float: left;
}

#nav .menu .selected{
    background-color: #f1f1f1;
    border-bottom: .5em solid #000066;
}

#nav .menu .button:hover{
    background-color: #f1f1f1;
}





