/* 
    Document   : style
    Created on : Aug 25, 2013, 3:08:02 PM
    Author     : Tony
    Description:
        Purpose of the stylesheet follows.
*/
/**
* HTML Document styles
*/

root { 
    display: block;
}

html body{
    padding: 0;
    margin: 0;
    background-color: #212121; /*#d4c9c6;*/
    font-size: 62.5%;
    height: 100%;
    width: 100%;
    color: #ffffff;
    font-family: 'Rokkitt', serif;
}

.logo{
    height: 15%;
    border: 1px solid white;
    width: 10em;
    height: 5em;
}

.body{
    width: 100%;
    height: 100%;
    overflow: auto;
}

.body h1{
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 3em;
    margin-top: 5%;
}

.container{
    width: 20%;
    height: 40%;
    background-color: #518b8b;
    margin-left: 3%;
    margin-top: 3%;
    border-radius: 25px;
    box-shadow: 10px 10px 5px #000;
    padding: 10px;
    float: left;
}

.container:hover{
    background-color: #51518b;
}

.container p{
    font-size: 1.6em;
}

.container h3{
    font-size: 2em;
    text-align: center;
    font-weight: bold;
}

.header{
    width: 100%;
    margin: auto;
    background-color: #702994;
    display: inline-block;
}

#button_container{
    width: 25%;
    font-size: 0;
    margin: auto;
    
}

.header .button{
    width: 16.66%;
    height: 35px;
    background-color: #702994;
    font-size: 10pt;
    font-weight: bold;
    font-style: italic;
    padding: 0;
    border: none;
    margin: auto;
}

.header .login_button{
    margin-right: 3%;
    margin-top: 0;
    background-color: #702994;
    width: 5%;
    border-radius:40px/24px;
    float: right;
    font-style: italic;
    font-weight: bold;
    padding: 0;
}

.header .button #selected{
    background-color: #839429;
}

.header .button:hover{
    background-color: #839429;
    color: #51518b;
}

footer{
    font-size: 1.6em;
    margin-top: 6%;
    width: 100%;
    height: 8%;
    background-color: #702994;
}

footer a:link{
    text-decoration: underline;
    font-weight: bold;
}

footer a:hover{
    text-decoration: underline;
    font-weight: bold;
}

footer a:visited{
    text-decoration: underline;
    font-weight: bold;
}

footer a:active{
    text-decoration: underline;
    font-weight: bold;
}




